.center {
    text-align: center;
}
.font_verdana {
    font-family: Verdana;
}
.green {
    color: darkorange;
}
#fact1 {
    color: purple;
}
#fact2 {
    color: darkcyan;
}
#fact3 {
    color: green;
    font-style: italic;
}
form {
    font-weight: bold;
}
.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.h1 {
    color:chocolate;
    text-align: center;
}
